.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.controlroom{
  border: 2px solid black;
  width: 50%;
}
.fuelOptions{
  
  display: flex;
  width: max-content;
  margin: 30px ;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.imageOfRocket{
  width: 200px;
  height:  90vh;
}
.fuelbarStatus{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.fuelOptions button{
  margin: 0px 10px;
}
.fuelBar{
  margin-left: 30px;
  display: flex;
  width: 120px;
  height: 20px;
  border: 2px solid black;
}
.launch{
  font-weight: 700;
  border: 5px solid rgb(16, 243, 16);
  background-color: black;
  color:  rgb(16, 243, 16);
  padding: 10px;
}
.fuelHydrogen{
  background-color: rgb(248, 70, 70);
  height: 20px;
}
.fuelOxygen{
  height: 20px;
  background-color: rgb(47, 200, 47);
}
.launch:disabled{
  color: white;
  border: 5px solid rgb(243, 46, 16);
}
